<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |form| %>
  <div>
    <%= form.label :name %>: <%= form.text_field :name %>
  </div>
  <button type="submit">Update</button>
<% end %>
