<div style="border-top:1px solid black;">
<% feed.entries.each do |entry| %>
  <div style="border-bottom:1px dotted gray;margin:0.5em 0px;padding-bottom:0.5em;">
    <div><%= link_to feed_text_escape(entry.title), entry.link, :target => "_blank", :style => "font-weight:bold;" %></div>
  <% unless entry.categories.blank? %>
    <div>
       Categories: <%= entry.categories.join(", ") %>
    </div>
  <% end %>
  <% unless entry.content.blank? %>
    <div>
      <%= truncate feed_text_escape(entry.content), :length => 40 %>
    </div>
  <% end %>
  </div>
<% end %>
<% reset_cycle %>
</div>
